.login{
    background-color: white;
    padding: 2rem;
    margin: 3rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    margin-top: 15vh;
    min-width: 30vw;
}

.login h1{
    margin-bottom: 1rem;
}

.login h3{
    color: #4d4d4d91;
    font-weight: normal;
}

.accountType{
    display: flex;
    margin: 1rem;
    width: 100%;
    justify-content: center;
    margin-top: 0.5rem;
}

.accountType > button{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    border: 3px solid #deeff9;
    border-radius: 0.5rem;
    margin: 0.5rem;
    height: 20vh;
}

.unselect{
        background-color: #2d7cca7d;
    color: white;
}

.loginForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
    margin-top: 0;
}

.username{
    margin: 1rem !important;
}

.password{
    margin: 1rem !important;
}

.submit{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    align-items: baseline;
    justify-content: space-between;
}

