.header{
    position: absolute;
    height: 10vh;
    background-color: #114e8a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header >button{
    right: 15vw;
}